<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <style>
      .form-container {
        display: grid;
        justify-content: center;
        align-items: center;
      }
      input[type='text'],
      input[type='password'],
      select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }

      input[type='submit'] {
        width: 100%;
        background-color: #4caf50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }

      input[type='submit']:hover {
        background-color: #45a049;
      }

      div.container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
      }
      .centeredText {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div>
      <div class="form-container">
        <h3 class="centeredText">Login to your account</h3>
        <div class="container">
          <form action="">
            <label for="email">Email ID / Phone Number</label>
            <input type="text" id="email" name="email" />

            <label for="password">Password</label>
            <input type="password" id="password" name="password" />
            <input type="submit" value="Submit" />
            <div class="centeredText">
              <a class="centeredText" href="/forget_pass"
                >Forgot Password / Claim your Account</a
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
